 .u-section-1 {
  min-height: 887px;
}

.u-section-1 .u-shape-1 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 422px;
  height: 422px;
  background-image: url("images/IMG_1176.jpeg");
  background-position: 50% 0%;
  background-size: cover;
  margin: -343px auto 0;
}

.u-section-1 .u-text-1 {
  width: 712px;
  transition-duration: 0.5s;
  margin: 56px auto 0;
}

.u-section-1 .u-text-2 {
  width: 543px;
  margin: 24px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 60px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 805px;
  }

  .u-section-1 .u-shape-1 {
    height: 298px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -238px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-2 {
  background-image: none;
  min-height: 931px;
}

.u-section-2 .u-shape-1 {
  height: 532px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -472px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 861px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-image-1 {
  height: 590px;
  margin-top: 63px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 861px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 611px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 45px 18px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 35px auto 0 0;
  padding: 10px 46px 10px 45px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 785px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 710px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 487px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 710px;
  }

  .u-section-2 .u-image-2 {
    height: 504px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 687px;
  }

  .u-section-2 .u-shape-1 {
    height: 387px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -327px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 391px;
    margin-top: 35px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 386px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1680px;
  }

  .u-section-2 .u-shape-1 {
    height: 1127px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1067px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 619px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1218px;
  }

  .u-section-2 .u-shape-1 {
    height: 367px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -307px;
    margin-bottom: -402px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.34375rem;
  }

  .u-section-2 .u-image-1 {
    height: 381px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 365px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 649px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 529px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 8.125rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 529px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 164px 30px 30px;
}

.u-section-3 .u-text-2 {
  margin: 115px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 436px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 436px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 521px;
}

.u-section-4 .u-shape-1 {
  width: 904px;
  height: 452px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-family: "Archivo Black";
  font-size: 2.25rem;
  margin: -382px 95px 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1138px;
  margin: 15px auto 50px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(25% - 22.5px);
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  --gap: 30px;
  min-height: 346px;
}

.u-section-4 .u-list-item-1 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#7a9cbd, #2cccc4);
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 5px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-group-2 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#7a9cbd, #2cccc4);
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-group-3 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#7a9cbd, #2cccc4);
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-text-8 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-10 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-4 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-group-4 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#7a9cbd, #2cccc4);
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 0;
}

.u-section-4 .u-text-11 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-13 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-text-11 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-4 .u-shape-1 {
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-bottom: -158px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-4 .u-shape-1 {
    width: 710px;
    height: 283px;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -213px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -171px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1511px;
  }

  .u-section-4 .u-shape-1 {
    width: 726px;
    margin-left: -193px;
    margin-right: -193px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -252px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 84px;
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.291666666666667rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.291666666666667rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-8 {
    font-size: 2.291666666666667rem;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-11 {
    font-size: 2.291666666666667rem;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/w4-min.jpg');
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 411px;
}

.u-section-5 .u-text-1 {
  width: 670px;
  font-size: 1.25rem;
  margin: 103px auto 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 288px;
  min-width: 160px;
  margin: 31px auto 60px;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 0;
  background-image: none;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

.u-section-5 .u-icon-6 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
    height: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }
}